<html>

<head>
    <title>Socket notification</title>
</head>

<body>

    <div id="status">
    </div>

    <div id="commentBox">
        <input type="text" id="name" size="40" placeholder="Your name - put shahid">
        <br>
        <br>
        <textarea cols="38" rows="10" id="comment" placeholder="Add your comment"></textarea>
        <br>
        <br>
        <input type="button" id="addComment" value="Comment">
        <br>
        <span id="message"></span>
    </div>

</body>
<style media="screen">
    body {
        padding: 50
    }
    
    #status {
        width: 250px;
        padding: 10px;
        font-size: 14px;
        margin-left: 20%;
    }
    
    #commentBox {
        width: 250px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 20%;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://localhost:4433/socket.io/socket.io.js"></script>
<script src="/js/comment.js"></script>

</html>