<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Mactcha | Delete Account </title>
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/create_account.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="/img/tulip.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> </head>

<body>
	<div class="site-content" align="center">
		<div class="header">
			<div class="separator"></div> <img id="logo" src="/img/logo.png" alt="logo"> </div>
		<div class="inscription-form"> <img id="form-logo" src="/img/tulip.png" alt="form-logo">
			<div class="main-title">Delte Account</div>
			<div class="subtitle">By deleting your account you agree to delete from <b>matcha.com</b> all the data from your account and some ones will be dissocied to your profile and be free again
				<br> Regards,
				<br> Matacha's Team </div>
			<form class="form-account" method="post">
				<input id="Send" class="button-submit" type="submit" name="deleteAccount" value="Delete Account"> </form> <a id="link" class="link" href="/profile.html">Some Regrets ?</a>
			<br> </div> {{message}} </div>
</body>

</html>