{{#display_pictures.infos}}
<img class="usr-set-img" src="{{pic}}" alt="user-images" onclick="Changeprofile_pic(this)"> {{/display_pictures.infos}}


{{#display_pictures_edit.infos}} <img class="usr-set-img" src="/{{pic}}" alt="user-images" height="75" width="75" onclick="delete_pic(this)"> {{/display_pictures_edit.infos}} {{^display_pictures_edit.infos}}
<div>You do not have pictures on your profil</div>{{/display_pictures_edit.infos}}


{{#display_pictures_users.infos}}
<img class="usr-set-img" src="/{{pic}}" alt="user-images"> {{/display_pictures_users.infos}}


