<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Matcha | Edit Profil</title>
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/edit_profil.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="/img/tulip.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://localhost:4433/socket.io/socket.io.js"></script>
	<script src="/js/typeahead.min.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="js/edit_profil.js"></script>
		<script src="/js/main.js"></script>
	<script src="/js/search.js"></script>
</head>

<body>
	<div class="menu">
		 <form method="get" action="/search" class="search-form">
            <input id="search-bar" type="text" name="search" placeholder="Search ..." class="typeahead tt-query" spellcheck="false" autocomplete="on" name="typeahead">
            <input id="go" type="submit" name="search" value="Go!">
        </form>
		<a href="match.html"> <img id="menu-logo" src="img/mini-logo.png" alt="mini-logo"></a>
				<div class="pop-notification">
			<div id="notification"></div>
			<a href="/notification.html"> <img class="menu-img" src="/img/feed.png"> </a>
		</div>
		<a href="profile.html"><img class="menu-img" src="/img/account.png"></a>
		<a href="message.html"><img class="menu-img" src="/img/envelope.png"></a>
		<a href="/logout.html"><img class="menu-img" src="/img/logout.png"></a>
	</div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="site-content" align="center">
		<div class="box">
			<div class="band"> <img src="/img/butt.png" alt="logo" width="250px">
				<h1>Update Profil</h1> </div>
			<form id="form" class="edit-profil" method="post" align="center" action="/update">
				<label>Firstname</label>
				<input id="firstname" class="input" type="text" name="firstname" placeholder="Firstname">
				<br>
				<label>Lastname</label>
				<input id="lastname" class="input" type="text" name="lastname" placeholder="Lastname">
				<br>
				<label>Sexual orientation</label> Hetero
				<input type="radio" name="orientation" value="hetero">Gay
				<input type="radio" name="orientation" value="gay">Bi
				<input type="radio" name="orientation" value="bi">
				<br>
				<label>Location</label>
				<input id="location" class="input" type="text" name="location" placeholder="location">
				<br>
				<label>Bio</label>
				<textarea id="bio" class="input" rows="5" col="51" name="bio"></textarea>
				<br>
				<label>Tags</label>
				<input id="tags" class="input" type="text" name="preferences" placeholder="#busty #redhead #asian...">
				<br>
                 <a href="/hashtags.html">See tag's catalog</a>
                 <br>
                 <br>
				<input class="input update" type="submit" name="profil" value="Update">
				<br>{{#edit_profil.infos}} {{messageprofil}} </form>
		</div>
		<div class="box">
			<div id="band" class="band" style="display:block"> <img src="/img/photos-manager.png" alt="logo" width="250px">
				<h1>Manage Photos</h1> </div>
			<div id="photo" class="band" style="display:none"> <img id="photodisplay" width="460px" height="379.88px"> </div>
			<form id="form" class="edit-profil" method="post" align="center" enctype="multipart/form-data" action="/upload">
				<label>Upload a photo</label>
				<input id="pic" type="file" name="userPhoto" onchange="previewFile()" />
				<br>
				<input class="input update" type="submit" name="profil" value="Upload">
				<br> {{messagephoto}} {{/edit_profil.infos}}</form>
		</div>
		<div id="display_pic">
			<div>To delete a picture just click on it</div>
			<br> {{>display_pictures}} </div>
	</div>
</body>

</html>