<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Matcha | Edit Account</title>
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/edit_account.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://localhost:4433/socket.io/socket.io.js"></script>
	<script src="/js/typeahead.min.js"></script>
	<script src="js/front.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/search.js"></script>
</head>

<body>
	<div class="menu">
		<form method="get" action="/search" class="search-form">
			<input id="search-bar" type="text" name="search" placeholder="Search ..." class="typeahead tt-query" spellcheck="false" autocomplete="on" name="typeahead">
			<input id="go" type="submit" name="search" value="Go!"> </form>
		<a href="match.html"> <img id="menu-logo" src="img/mini-logo.png" alt="mini-logo"></a>
			<a href="/notification.html">
			<div id="notification"></div><img class="menu-img" src="/img/feed.png"> </a>
		<a href="profile.html"><img class="menu-img" src="/img/account.png"></a>
		<a href="message.html"><img class="menu-img" src="/img/envelope.png"></a>
		<a href="/logout.html"><img class="menu-img" src="/img/logout.png"></a>
	</div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="site-content" align="center">
		<div class="box"> <img src="/img/bed.png" alt="logo" width="250px">
			<h1>Update Account</h1> </div>
		<div class="settings-set">
			<div class="option c1" onClick="showEmailChanger()"><a href="#">Change E-mail</a></div>
			<div id="change-email" class="change-email" style="display: none">
				<div class="current-email">Your email : {{email}}</div>
				<form class="email-Changer" method="post">
					<input type="email" name="new_email">
					<br>
					<input class="submit-btn" type="submit" name="confirm" value="Change"> </form>
			</div>
			<div class="option c2" onClick="showPasswordChanger()"><a href="#">Modify Password</a></div>
			<div id="change-password" class="change-password" style="display: none">
				<div class="current-email">An E-mail confimation is needed to change your paswword</div>
				<form class="password-changer" method="post">
					<input class="submit-btn" type="submit" name="sendEmail" value="Send E-mail"> </form>
			</div>
			<div class="option c1"><a href="/delete_account.html">Delete Account</a></div>
		</div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="console">{{message}}</div>
	</div>
	<script type="text/javascript" src="js/front.js"></script>
</body>

</html>