{{#homepage.infos}}
<tr class="match ">
	<td>
		<div> <img src="/{{profil_pic}}" alt="user-pic"> </div>
	</td>
	<td>
		<div class="match-name">{{firstname}}</div>
	</td>
	<td>
		<div class="match-age">{{birth}}</div>
	</td>
	<td>
		<div class="match-location">{{location}}</div>
	</td>
	<td>
		<div class="match-pop">{{pop}}</div>
	</td>
	<td>
		<div class="match-tags">{{communtag}}</div>
	</td>
	<td><a class="show-profil" href="/users.html/{{username}}">voir le profil</a> </td>
</tr>{{/homepage.infos}} {{#result.infos}}
<tr class="match ">
	<td>
		<div> <img src="/{{profil_pic}}" alt="user-pic"> </div>
	</td>
	<td>
		<div class="match-name">{{firstname}}</div>
	</td>
	<td>
		<div class="match-age">{{birth}}</div>
	</td>
	<td>
		<div class="match-location">{{location}}</div>
	</td>
	<td>
		<div class="match-pop">{{pop}}</div>
	</td>
	<td><a class="show-profil" href="/users.html/{{username}}">voir le profil</a> </td>
</tr>{{/result.infos}} {{#block.infos}}
<tr class="match ">
	<td>
		<div> <img src="/{{profil_pic}}" alt="user-pic"> </div>
	</td>
	<td>
		<div class="match-name">{{firstname}}</div>
	</td>
	<td>
		<div class="match-age">{{birth}}</div>
	</td>
	<td>
		<div class="match-location">{{location}}</div>
	</td>
	<td>
		<div class="match-pop">{{pop}}</div>
	</td>
	<td><a class="show-profil" href="/unblock/{{username}}">Unblock</a> </td>
</tr>{{/block.infos}} {{#dictionary.value}}
<div class="tag"> <a id="tag-item" href="/tag/{{value}}">#{{value}}</a>
	<div class="tag-score">{{score}}</div>
	<div class="tag-subscribe"><a href="/addtag/{{value}}">Subscribe</a></div>
</div> {{/dictionary.value}}