<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Matcha | Match</title>
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/match.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="/img/tulip.png">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBylV2tWJmuiBNLN3XK2a-LBtkv3doz6H8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="https://localhost:4433/socket.io/socket.io.js"></script>
	<script src="/js/typeahead.min.js"></script>
	<script src="/js/search.js"></script>
		<script src="/js/main.js"></script>

	<script src="/js/match.js"></script>
	<script src="/js/front.js"></script>
</head>

<body>
	<div class="menu">
	 <form method="get" action="/search" class="search-form">
            <input id="search-bar" type="text" name="search" placeholder="Search ..." class="typeahead tt-query" spellcheck="false" autocomplete="on" name="typeahead">
            <input id="go" type="submit" name="search" value="Go!">
        </form>
		<a href="match.html"> <img id="menu-logo" src="img/mini-logo.png" alt="mini-logo"></a>
		<div class="pop-notification">
			<div id="notification"></div>
			<a href="/notification.html"> <img class="menu-img" src="/img/feed.png"> </a>
		</div>
		<a href="profile.html"><img class="menu-img" src="/img/account.png"></a>
		<a href="message.html"><img class="menu-img" src="/img/envelope.png"></a>
		<a href="logout.html"><img class="menu-img" src="/img/logout.png"></a>
	</div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="site-content" align="center">
		<div id="match" class="hud" align="left"> {{>homepage}} </div>
		<h1>{{message}}</h1> </div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
</body>

</html>