<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Mactcha | Reset password </title>
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/create_account.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div class="site-content" align="center">
        <div class="header">
            <div class="separator"></div>
            <img id="logo" src="/img/logo.png" alt="logo">
        </div>

        <div class="inscription-form">
            <img id="form-logo" src="/img/tulip.png" alt="form-logo">
            <div class="main-title">Reset password</div>
            <div class="subtitle">Please type your email to recieve a reset password confirmation</div>
            <form class="form-account" method="post">
                <input type="text" placeholder="Email" name="sendMail">
                <br>
                <input id="Send" class="button-submit" type="submit" name="login" value="Send confirmation">
            </form>
            <a id="link" class="link" href="/">finally got it ?</a>
            <br>
        </div>
        {{message}}
    </div>
</body>