<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Matcha | Match</title>
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/match.css" rel="stylesheet">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBylV2tWJmuiBNLN3XK2a-LBtkv3doz6H8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="https://localhost:4433/socket.io/socket.io.js"></script>
	<script src="/js/typeahead.min.js"></script>
	<script src="/js/front.js"></script>
	<script src="/js/search.js"></script>
	<script src="/js/sortElements.js"></script>
	<style>
		#go {
			line-height: 30px;
		}
	</style>
</head>

<body>
	<div class="menu">
		<form method="post" action="/search" class="search-form">
			<input id="search-bar" type="text" name="search" placeholder="Search ..." class="typeahead tt-query" spellcheck="false" autocomplete="on" name="typeahead">
			<input id="go" type="submit" name="search" value="Go!"> </form>
		<a href="/match.html"> <img id="menu-logo" src="/img/mini-logo.png" alt="mini-logo"></a>
		<a href="#"><img class="menu-img" src="/img/feed.png"></a>
		<a id="account" href="/profile.html"><img class="menu-img" src="/img/account.png"></a>
		<a href="/message.html"><img class="menu-img" src="/img/envelope.png"></a>
		<a href="/logout.html"><img class="menu-img" src="/img/logout.png"></a>
	</div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="site-content" align="center">
		<form method="get">
			<div>SELECT AN AGE RANGE
				<input type="text" name="agemin" placeholder="age min">
				<input type="text" name="agemax" placeholder="age max"> </div>
			<div>SLECT A POPULARITY RANGE
				<input type="text" name="popmin" placeholder="popularity min">
				<input type="text" name="popmax" placeholder="popularity max"> </div>
			<div>SELECT A LOCATION RANGE
				<input type="text" name="locmin" placeholder="location min">
				<input type="text" name="locmax" placeholder="location max"> </div>
			<div>SELECT A COMMUN TAGS RANGE
				<input type="text" name="tagmin" placeholder="commun tag min">
				<input type="text" name="tagmax" placeholder="commun tag max"> </div>
			<input id="filter" type="submit" name="submit" value="filter"> </form>
		<table id="match" class="hud" align="center">
			<tr class="table-title">
				<th>Profil picture</th>
				<th id="firstname">Firstname</th>
				<th id="age">Age</th>
				<th id="location">Location</th>
				<th id="popscore">Popularity</th>
				<th>Link to profil</th>
			</tr>{{>homepage_test}} </table>
		<h1>{{message}}</h1> </div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<script src="/js/match.js"></script>
</body>

</html>