<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Matcha | Users</title>
	<link href="/stylesheets/main.css" rel="stylesheet">
	<link href="/stylesheets/profile.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="/img/tulip.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
	</script>
	<script src="https://localhost:4433/socket.io/socket.io.js">
	</script>
	<script src="/js/typeahead.min.js"></script>
	<script src="/js/mustache.js"></script>
	<script src="/js/search.js"></script>
</head>

<body>
	<div class="menu">
		<form method="get" action="/search" class="search-form">
			<input id="search-bar" type="text" name="search" placeholder="Search ..." class="typeahead tt-query" spellcheck="false" autocomplete="on" name="typeahead">
			<input id="go" type="submit" name="search" value="Go!"> </form>
		<a href="/match.html"> <img id="menu-logo" src="/img/mini-logo.png" alt="mini-logo"></a>
		<div class="pop-notification">
			<div id="notification"></div>
			<a href="/notification.html"> <img class="menu-img" src="/img/feed.png"> </a>
		</div>
		<a href="/profile.html"><img class="menu-img" src="/img/account.png"></a>
		<a href="/message.html"><img class="menu-img" src="/img/envelope.png"></a>
		<a href="/logout.html"><img class="menu-img" src="/img/logout.png"></a>
	</div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="separator"></div>
	<div class="site-content" align="center"> {{#users.infos}}
		<div class="usr" id="usr"> <img id="usr-pic" src="/{{profil_pic}}" alt="user photo">
			<div id="usr-info" class="usr-info" align="left">
				<div class="usr-name">{{firstname}} {{lastname}}
					<br>
					<div class="usr-age">{{birth}} ans {{location}}</div>
					<div id="status" class="online">{{login}}</div>
				</div>
				<div class="bio" align="center">Bio</div>
				<div class="usr-bio-text">{{bio}}</div>
				<div class="usr-score">{{pop}}<img src="/img/love-1.png" alt="user-score"></div>
			</div>
		</div>
		<div class="top-bar" align="left">
			<form class="form-bar" method="post" id="formliking">
				<input class="input d1" type="submit" name="pov" value="follow">
				<input class="input d2" type="submit" name="pov" value="unfollow"> </form>
			<div class="relation">{{follow}}</div>
		</div> {{/users.infos}}
		<div id="my_pictures" class="usr-set"> {{>display_pictures}} </div>
		<div class="bottom-bar" align="left">
			<form class="form-bar" method="post" id="formliking">
				<input class="input d2" type="submit" name="pov" value="block">
				<input class="input d2" type="submit" name="pov" value="reported"> </form>
		</div>
		<div class="hud-tags"> {{>display_tags}} </div>
		<div class="separator"></div>
		<div class="separator"></div>
		<div class="separator"></div>
		<script src="/js/users.js"></script>
		<script src="/js/status.js"></script>
		<script src="/js/main.js"></script>
	</div>
</body>

</html>