   body,
   html {
   	padding: 0;
   	margin: 0;
   	/*background-image: url("../img/mosaic.jpg");*/
   	background: #c3d1dd;
   	font-family: 'Open Sans', sans-serif;
   	width: 100%;
   }
   
   .separator {
   	height: 30px;
   	width: 100%;
   }
   
   .site-content {
   	width: 100%;
   	height: auto;
   }
   
   .menu {
   	width: 100%;
   	height: 80px;
   	line-height: 80px;
   	position: fixed;
   	background: #7fc4ff;
   	background: -webkit-linear-gradient(left top, #7fc4ff, #569ef2);
   	background: -moz-linear-gradient(bottom right, #7fc4ff, #569ef2);
   	background: linear-gradient(to bottom right, #7fc4ff, #569ef2);
   	z-index: 10;
   }
   
   #menu-logo {
   	height: 60px;
   	left: 20px;
   	float: left;
   	margin: 10px;
   }
   
   a {
   	text-decoration: none;
   	color: black;
   }
   
   .menu-img {
   	width: 25px;
   	vertical-align: middle;
   	float: right;
   	margin-top: 27.5px;
   	margin-right: 20px;
   	filter: invert(100%);
   	-webkit-filter: invert(100%);
   }
   
   #search-bar {
   	width: 130px;
   	height: 30px;
   	font-size: 15px;
   	color: white;
   	-webkit-transition: width 0.4s ease-in-out;
   	border: none;
   	border: 2px solid white;
   	transition: width 0.4s ease-in-out;
   	background: url(../img/search.png) no-repeat scroll 7px 7px;
   	padding-left: 35px;
   	background-size: 15px;
   	outline: none;
   }
   
   #search-bar:focus {
   	width: 230px;
   }
   
   #search-bar {
   	color: white;
   }
   
   .search-form {
   	display: inline-block;
   	height: 80px;
   	font-size: 0;
   	width: 300px;
   	line-height: 80px;
   }
   
   span {
   	vertical-align: middle;
   }
   
   #go {
   	height: 30px;
   	border: none;
   	margin: 0;
   	background: white;
   	margin-top: 5px;
   	padding-right: 10px;
   	border-top-right-radius: 5px;
   	border-bottom-right-radius: 5px;
   	color: #7fc4ff;
   	vertical-align: middle;
   	margin-bottom: 5px;
   }
   
   .pop-notification {
   	display: inline-block;
   	float: right;
   }
   
   #notification {
   	position: absolute;
   	top: 15px;
   	right: 8px;
   	background: red;
   	padding: 3px;
   	text-align: center;
   	height: 15px;
   	font-size: 12px;
   	line-height: 15px;
   	width: 15px;
   	color: white;
   	border-radius: 50%;
   	border: 2px solid white;
   	vertical-align: bottom;
   	z-index: 10;
   }
   
   .tt-query,
   .tt-hint {
   	color: #fff;
   	border: 2px solid #fff;
   	border-bottom-left-radius: 5px;
   	border-top-left-radius: 5px;
   	font-size: 15px;
   	outline: medium none;
   	width: 100px;
   	padding-left: 35px;
   	width: 100%;
   }
   
   .tt-hint {
   	color: #999999;
   	line-height: 22px;
   }
   
   .tt-dropdown-menu {
   	background-color: #FFFFFF;
   	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
   	padding: 8px 0;
   	width: 265px;
   	margin-top: 10px;
   }
   
   .tt-suggestion {
   	font-size: 15px;
   	line-height: 15px;
   	padding: 10px;
   }
   
   .tt-suggestion.tt-is-under-cursor {
   	background-color: #e8e8e8;
   	color: #000;
   }
   
   .tt-suggestion p {
   	margin: 0;
   }