.hud {
	width: 100%;
	max-width: 1000px;
	max-height: 660px;
	overflow: scroll;
	border-radius: 20px;
}

.result {
	width: 100%;
	max-width: 1000px;
	height: 100px;
	background: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 20px;
}

.match {
	width: 100%;
	max-width: 1000px;
	height: 80px;
	vertical-align: middle;
	background: white;
}

.match img {
	width: 50px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #c3d1dd;
}

.match-name,
.match-age,
.match-location,
.match-pop {
	width: 100px;
	display: inline-block;
	color: #808080;
	font-size: 15px;
	vertical-align: middle;
}

td {
	text-align: center;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

.table-title th {
	color: #fff;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 20px;
	padding-top: 20px;
	background: #7fc4ff;
}

#like {
	width: 30px;
	border: none;
	float: right;
	margin-top: 15px;
}

#berk {
	width: 30px;
	border: none;
	float: right;
	margin-top: 15px;
}

.show-profil {
	font-size: 10px;
	background: #ffb576;
	color: white;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

.show-profil:hover {
	transition-duration: 0.9s;
	-moz-transition-duration: 0.9s;
	color: #808080;
	background: #acf49b;
}

.match-btns {
	display: inline-block;
	vertical-align: middle;
}

tr {
	line-height: 40px;
	border-bottom: 5px solid #c3d1dd;
}

@media only screen and (max-width: 835px) {
	#like,
	#berk,
	.match-location,
	.match-age,
	{
		display: none;
	}
	.show-profil {
		margin-left: 0;
	}
}