.hud {
    width: 100%;
    max-width: 1000px;
    max-height: 660px;
    overflow: scroll;
    border-radius: 20px;
}

.result {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 20px;
}

.match {
    width: 100%;
    max-width: 1000px;
    height: 80px;
    vertical-align: middle;
    background: white;
}

.match img {
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #c3d1dd;
}

.match-tags,
.match-name,
.match-age,
.match-location,
.match-pop {
    width: 100px;
    display: inline-block;
    color: #808080;
    font-size: 15px;
    vertical-align: middle;
}

td {
    text-align: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-title th {
    color: #fff;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #7fc4ff;
}

#like {
    width: 30px;
    border: none;
    float: right;
    margin-top: 15px;
}

#berk {
    width: 30px;
    border: none;
    float: right;
    margin-top: 15px;
}

.show-profil {
    font-size: 10px;
    background: #ffb576;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.show-profil:hover {
    transition-duration: 0.9s;
    -moz-transition-duration: 0.9s;
    color: #808080;
    background: #acf49b;
}

.match-btns {
    display: inline-block;
    vertical-align: middle;
}

tr {
    line-height: 40px;
    border-bottom: 5px solid #c3d1dd;
}

.tag {
    min-width: 300px;
    max-width: 1000px;
    height: 40px;
    margin: 10px;
    margin-right: 350px;
    margin-left: 100px;
    line-height: 40px;
    font-size: 0;
    -webkit-box-shadow: 0px 0px 400px 5px #a2a2a2;
    border-radius: 10px;
    text-align: right;
}

.tag a,
.tag div {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: white;
}

#tag-item {
    background: white;
    min-width: 100px;
    color: #9b9b9b;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tag-subscribe {
    width: 100px;
    background: #7fc4ff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.tag-subscribe:hover {
    background: #ff6464;
}

.tag-score {
    background: #c7dfff;
    width: 40px;
}

.hashtags-title {
    width: 300px;
    background: white;
    font-size: 25px;
    line-height: 40px;
    height: 40px;
    line-height: 40px;
    color: #b1b1b1;
}

.alphabet {
    background: white;
    min-height: 60px;
    margin-bottom: 40px;
    max-width: 1000px;
    border-radius: 10px;
}

.alphabet a {
    color: #b9b9b9;
    font-size: 30px;
    line-height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 13px;
}

.alphabet a:hover {
    background: #7fc4ff;
    color: white;
}

.message-ret {
    width: 300px;
    background: white;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    border-radius: 10px;
    margin-top: 100px;
    color: #a5a5a5;
}

.dictionary {
    max-width: 1000px;
    min-width: 700px;
}

@media only screen and (max-width: 835px) {
    #like,
    #berk,
    .match-location,
    .match-age,
    {
        display: none;
    }
    .show-profil {
        margin-left: 0;
    }
}