.side-bar,
.message {
    display: inline-block;
    vertical-align: top;
}

.side-bar {
    width: 100%;
    background: white;
    max-width: 300px;
    margin-bottom: 30px;
}

.onglet {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    font-size: 20px;
    background: #7fc4ff;
    background: -webkit-linear-gradient(left top, #7fc4ff, #569ef2);
    background: -o-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: -moz-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: linear-gradient(to bottom right, #7fc4ff, #569ef2);
}

.contact {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.a1 {
    background: white;
}

.a1 img {
    border: 3px solid rgba(209, 227, 255, 0.46);
}

.a2 {
    background: rgba(209, 227, 255, 0.46);
}

.a2 img {
    border: 3px solid white;
}

.a1:hover,
.a2:hover {
    background: #c4e4ff;
}

.contact img {
    width: 50px;
    border-radius: 50%;
}

.contact img,
.contact-info,
.contact-notification {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-notification {
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
    color: white;
    text-align: center;
    float: right;
}

.message {
    width: 100%;
    background: white;
    max-width: 600px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.onglet-2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
    font-size: 15px;
    background: #7fc4ff;
    background: -webkit-linear-gradient(left top, #7fc4ff, #569ef2);
    background: -o-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: -moz-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: linear-gradient(to bottom right, #7fc4ff, #569ef2);
}

.line {
    width: 100%;
    height: 30px;
    display: block;
}

.conversation {
    width: 100%;
    height: 55%;
    overflow: scroll;
    border-bottom: 5px solid #dedede;
}

.chat {
    max-width: 40%;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    display: block;
    height: auto;
}

.b1 {
    margin-left: 5%;
    background: #eee;
    border-bottom-left-radius: 0px;
}

.b2 {
    margin-left: 50%;
    background: rgb(145, 188, 255);
    border-bottom-right-radius: 0px;
}

.message-area textarea,
.message-area input {
    vertical-align: bottom;
    margin-bottom: 5px;
}

.message-area input {
    margin-left: 20px;
}

textarea {
    height: 5%;
    resize: none;
    font-size: 15px;
    width: 75%;
    background: rgba(145, 188, 255, 0.22);
    border: none;
    margin-top: 20px;
    padding: 5px;
}

#msgtpl {
    height: 600px;
    border-bottom: 10px solid #c3d1dd;
}

#send {
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background: #7fc4ff;
    background: -webkit-linear-gradient(left top, #7fc4ff, #569ef2);
    background: -o-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: -moz-linear-gradient(bottom right, #7fc4ff, #569ef2);
    background: linear-gradient(to bottom right, #7fc4ff, #569ef2);
}

@media only screen and (max-width: 904px) {
    .side-bar {
        max-width: 600px;
    }
}